{% extends "base.j2" %}
{% block content %}
    <div class="hero-section">
        <h1 class="headline">Biggest car inventory in Dallas</h1>
        <img src="../static/images/undraw_To_the_moon_re_q21i.png" alt="hero picture" class="hero-img">
    </div>
{% endblock %}